.section--challenge {
    display: none;
    background: transparent;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: flex-start;
}

.challenge__h1 {
    font-family: 'Teko', sans-serif;
    color: var(--black);
    font-weight: 400;
    font-size: 36px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 0px;
    line-height: 100%;
}

.challenge__h2 {
    font-family: 'Teko', sans-serif;
    color: var(--black);
    font-weight: 400;
    font-size: 32px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    text-align: left;
    padding: 0px 0px 0px 20px;
    line-height: 100%;
}

.challengeSection__divCards {
    display: flex;
    padding: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    width: 100%;
}

.section--challengeWindow {
    display: none;
    background: #fff;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: flex-start;
}

.challengeWindow__h1 {
    font-family: 'Teko', sans-serif;
    color: var(--black);
    font-weight: 400;
    font-size: 36px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    text-align: left;
    padding: 0px 0px 0px 20px;
    line-height: 100%;
}

.challengeWindow__points {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FED3A8;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    color: var(--black);
    font-weight: 500;
    padding: 2px 12px 0px 12px;
    margin: 0px;
    border-radius: 0px 16px 0px 0px;
    letter-spacing: 0.2px;
}

.challengeWindow__closeWindow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.challengeWindow__deleteChallange {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--white);
    background: rgb(255, 26, 26);
    border-radius: 0px 0px 0px 12px;
    border: 0px;
    outline-width: 0px;
    z-index: 2;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
}

.challengeWindow__resetMaskImg {
    position: relative;
    width: calc(100% - 40px);
    aspect-ratio: 2 / 1.50;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 18px;
}

.challengeWindow__mask {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.challengeWindow__description {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 0px 20px;
    margin: 10px 0px;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
}

.challengeWindow__hr {
    width: 100%;
    background: var(--light-gray);
    border: solid 1px var(--light-gray);
}

.challengeWindow__details {
    font-family: 'Teko', sans-serif;
    color: var(--black);
    font-size: 24px;
    margin: 10px 0px;
    padding: 0px 20px;
}

.challengeWindow__SectionComent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.challenge__h1.comentTitle {
    margin: 15px 0px 20px 0px;
    padding-left: 20px;
    text-align: left;
}

.challengeWindow__sendChallengeLabel {
    font-family: 'Teko', sans-serif;
    border-radius: 14px;
    border: none;
    background: #FED3A8;
    box-shadow: 0px 0px 6px #FED3A8;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--black);
    width: calc(100% - 40px);
    max-width: 300px;
    padding: 0px 0px;
    margin: 10px 0px 20px 0px;
}

.challengeWindow__fileInput {
    visibility: hidden;
    display: none;
}

.sentWindow {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(00, 00, 00, 0.74);
    backdrop-filter: blur(4px);
    z-index: 1001;
    padding: 0px 20px;
}

.sentWindow__div {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 10px 20px;
    border-radius: 12px;
}

.sentWindow__h2 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #20E3BB;
    margin: 0px;
}

.sentWindow__img {
    width: 60vw;
    height: 297px;
    max-width: 210px;
    margin: -40px 0px -40px 0px;
    object-fit: cover;
}

.sentWindow__p {
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    color: var(--black);
    text-align: center;
}

.sentWindow__btn {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    margin: 10px 0px 14px 0px;
    padding: 2px 0px;
    border: 0px;
    outline-width: 0px;
    border-radius: 10px;
    background: #20E3BB;
    box-shadow: 0px 0px 6px #20E3BB;
    width: 100%;
    max-width: 260px;
}

.challengeCard__resolveText {
    color: #f00;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0px 0px 0px;
}

.challengeWindow__responseDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.challengeWindow__responseDiv--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}