.main__menuSection {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: 0.2s ease;
    transform: translateX(100vw);
}

.menuSection__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px 0px 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.menuSection__btn {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--black);
    background: transparent;
    border: 0px;
    outline-width: 0px;
}

.menuSection__btn.active {
    color: var(--primary-color);
}

.menuSection__perfilBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--light-gray);
    position: fixed;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    margin: 80px 15px 0px 0px;
    overflow: hidden;
}

.menuSection__perfilBtn__img {
    height: 100%;
    max-width: none;
}

.menuSection__adminBtn {
    background: transparent;
    border: 0px;
    padding: 0px;
    color: var(--black);
    outline-width: 0px;
    font-size: 30px;    
}

.menuSection__sideUl {
    position: fixed;
    right: 0;
    top: 0;
    margin: 80px 23px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px;
}