@media (min-width: 600px) {
    bottom {
        cursor: pointer;
    }

    .introduction__p {
        font-size: 7vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    .introduction__logo {
        width: 30%;
    }

    .accountCard {
        flex-direction: column;
        gap: 10px;
        padding-top: 60px;
        min-width: 0px;
        width: calc(100% - 40px);
        max-width: 700px;
        background: #eee;
        border-radius: 12px;
    }

    .accountCard__div {
        align-items: center;
        gap: 0px;
    }

    .accountCard__name {
        font-size: 34px;
        font-family: 'Teko', sans-serif;
        line-height: 100%;
        margin: 2px 0px 0px 0px;
    }

    .accountCard__btn {
        font-family: 'Teko', sans-serif;
        font-size: 22px;
        cursor: pointer;
    }

    .accountCard__userCover {
        height: 40%;
        border-radius: 0px;
    }

    .accountCard__resetUserPhoto {
        height: 100px;
        width: 100px;
    }

    .accountCard__signature {
        font-size: 16px;
    }

    .projectCard {
        max-width: 370px;
    }

    .projectCard {
        cursor: pointer;
    }

    .projectCard__deleteLesson {
        cursor: pointer;
    }

    .challengeSection__divCards .challengeCard {
        scroll-snap-align: center;
        flex: 0 0 260px;
    }

    #firstsDiv> :nth-child(2) {
        order: -1;
    }

    .rank__firstsArticle__position {
        width: 150px;
    }

    .rank__div--1 {
        gap: 30px;
    }

    .rank__youCard {
        max-width: 400px;
    }

    .youCard__star {
        display: unset;
    }

    .youCard__img {
        height: 52px;
        width: 52px;
    }

    .rankOuthersCard {
        background: #fff;
        width: 320px;
    }

    .rank__outhersDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 40px 40px 40px;
    }

    .rank__h1 {
        margin-bottom: 30px;
    }

    .rank__firstsArticle__name {
        max-width: 150px;
    }

    .store__div--1 {
        max-width: 500px;
    }

    .store-card {
        max-width: 190px;
    }

    .main__section.section--cart {
        width: 460px;
        position: fixed;
        right: 0;
        z-index: 30;
        box-shadow: 1px 1px 10px rgba(00, 00, 00, 0.25);
        padding: 0px;
    }

    .cartItemCard__div--2 {
        padding: 0px 26px 0px 0px;
    }

    .section--store {
        background: radial-gradient(100% 100% at 0% 0%, #FFF 0%, #FFF 84.85%, #fff 84.85%, #fff 99.56%, #5DB9E6 100%);
    }

    .cart__div--3 {
        position: absolute;
        bottom: 0;
    }

    .cart__div--1 {
        justify-content: flex-end;
    }

    .cart__backBtn {
        rotate: 180deg;
        cursor: pointer;
    }

    .store__cartBtn {
        cursor: pointer;
    }

    .cartItemCard__closeBtn {
        cursor: pointer;
    }

    .cartItemCard__addRemoveBtn {
        cursor: pointer;
    }

    .cart__Continue {
        cursor: pointer;
    }

    .main__menuSection {
        position: fixed;
        justify-content: space-between;
        background: #1e1e1e;
        width: 80px;
        left: 0;
        margin: 20px;
        height: calc(100vh - 110px);
        border-radius: 10px;
        transform: translateX(0vw);
        z-index: 30;
        bottom: 0;
        top: auto;
    }

    .page__header {
        padding: 0px 0px 0px 20px;
    }

    .header__logo {
        width: 80px;
        position: fixed;
        left: 0;
        margin: 0px 0px 0px 20px;
    }

    .main__section {
        padding: 0px 0px 0px 100px;
    }

    .menuSection__sideUl {
        display: none;
        width: 185px;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        top: auto;
        margin: 0px 0px 0px 110px;
        right: 0;
        left: auto;
        transform: translateX(-50px);
        opacity: 0;
        background: #1e1e1ed7;
        border-radius: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 12px;
        color: #fff;
        backdrop-filter: blur(2px);
        transition: 0.2s;
    }

    .menuSection__adminBtn {
        color: var(--white);
        cursor: pointer;
        margin: 0px 5px;
    }

    #goToBuyeds {
        display: flex;
        align-items: center;
        justify-content: baseline;
    }

    .confirmSection__div {
        max-width: 400px;
    }

    .confirmSection__btn {
        cursor: pointer;
    }

    .confirmSection__close {
        cursor: pointer;
    }

    .menuSection__adminBtn ion-icon {
        color: var(--white);
        cursor: pointer;
        margin: 0px 5px;
    }

    .header__menuToggle {
        display: none;
    }

    .menuSection__btn {
        font-size: 16px;
        color: var(--white);
        cursor: pointer;
        width: auto;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0px;
    }

    .menuSection__btn.active {
        border: none;
    }

    .menuSection__btn ion-icon {
        position: unset;
        margin: 0px;
        font-size: 28px;
    }

    .menuSection__btn div {
        position: unset;
        margin: 0px;
        background-image: url("/targetDesktop.svg");
        height: 28px;
        width: 28px;
    }

    .menuSection__btn.active div {
        position: unset;
        margin: 0px;
        height: 28px;
        width: 28px;
    }

    .menuSection__btn i {
        position: unset;
        margin: 0px;
    }

    .menuSection__ul {
        max-height: 320px;
        padding: 10px 0px 0px 0px;
    }

    .buyedsCard {
        max-width: 500px;
    }

    .lessonIntroduction__button {
        rotate: 90deg;
        animation: none;
        cursor: pointer;
    }

    .lessonWindow__divSelectView__btn {
        cursor: pointer;
    }

    .main__section.section--lessonWindow {
        flex-direction: row;
        align-items: flex-start;
        padding: 90px 0px 0px 120px;
        height: 100vh;
    }

    .section--lessonWindow .page__header {
        position: fixed;
        justify-content: flex-end;
        top: 0;
        left: 0;
        padding: 0px 25px 0px 0px;
        margin: 0px;
        background: #fff;
    }

    .lessonWindow__video {
        width: 100%;
    }

    .lessonWindow__divSelectView {
        display: none;
    }

    .lessonWindow__extraFileDiv {
        display: flex;
        order: 2;
    }

    .lessonWindow__extraFileDownload {
        border: 0px;
        color: var(--white);
        box-shadow: 0px 2px 4px rgba(00, 00, 00, 0.25);
        cursor: pointer;
    }

    .lessonWindow__title {
        order: 1;
        font-size: 24px;
        text-align: left;
        padding: 15px 0px 15px 5px;
        margin: 0px;
        border-bottom: solid 2px #1e1e1e62;
    }

    .challenge__h1 {
        color: #1e1e1e !important;
        margin: 0px 0px 10px 0px;
    }

    .allComentsDiv {
        overflow-y: scroll;
        height: calc(100% - 100px);
    }

    .allComentsDiv::-webkit-scrollbar {
        width: 5px;
    }

    .allComentsDiv::-webkit-scrollbar-track {
        background: #fff;
        border-right: solid 2px #ddd;
        padding: 0px 2px 0px 0px;
    }

    .allComentsDiv::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 20px;
    }

    .challengeWindow__SectionComent {
        height: 100%;
    }

    .lessonWindow.comentControls {
        padding: 5px 0px;
    }

    .comentControls__div {
        justify-content: space-between;
    }

    .comentControls__input {
        width: 100%;
    }

    .comentControls__send {
        cursor: pointer;
        min-width: 20px;
    }

    .comentControls__label {
        cursor: pointer;
    }

    .challengeWindow__closeWindow {
        cursor: pointer;
    }

    .menuSection__desktopUl {
        display: flex;
    }

    .menuSection__adminAdds {
        padding: 0px;
        margin: -90px 0px 0px 0px;
    }

    .menuSection__adminAdds__back {
        cursor: pointer;
    }

    .adminAdds__btn {
        cursor: pointer;
    }

    .main__section.section--login {
        background: var(--white);
        z-index: 200;
        position: relative;
    }

    #loginViewPassword {
        cursor: pointer;
    }

    .loginSection__btn {
        cursor: pointer;
    }

    .cartPaymentDiv__div--1 {
        max-width: 400px;
    }

    .cartPaymentDiv__btn {
        cursor: pointer;
    }

    .cartPaymentDiv__copy {
        cursor: pointer;
    }

    .cartPaymentDiv__img {
        min-width: 255px;
    }

    .cartPaymentDiv__div--2 {
        margin: 0px 0px 10px 0px;
    }

    .notifyCard {
        max-width: 500px;
    }

    .notifyCard__btn {
        cursor: pointer;
    }

    .desktopPerfil__dataDiv {
        align-items: flex-start;
    }

    .perfilSection__inputDiv ion-icon {
        cursor: pointer;
    }

    .confirmSection {
        z-index: 200;
    }

    .createLessonSection__label--file {
        max-width: 200px;
        max-height: 200px;
        cursor: pointer;
    }

    .createLessonSection__div-row {
        justify-content: center;
        gap: 20px;
    }

    .createLessonSection__selectClassRoom.extra {
        max-width: 250px;
    }

    .createChallengeSection__selectClassRoom.extra {
        max-width: 250px;
    }

    .createLessonSection__extraFileLabel {
        display: flex;
        justify-content: center;
    }

    .createAccount.loginSection__btn {
        margin: 0px;
    }

    .createAccount.loginSection__div {
        border-radius: 0px;
    }

    .createChallengeSection__selectClassRoom {
        cursor: pointer;
    }

    .manageUsersCard {
        max-width: 500px;
        cursor: pointer;
    }
}