.section--home {
    display: none;
    background: radial-gradient(100% 100% at 0% 0%, #FFF 0%, #FFF 84.85%, #fff 84.85%, #fff 99.56%, var(--primary-color) 100%);
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: flex-start;
}

.home__divSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home__divSection__h1 {
    font-family: 'Teko', sans-serif;
    color: var(--black);
    font-weight: 400;
    font-size: 36px;
    margin: 20px 0px 0px 0px;
    width: 100%;
    text-align: left;
    padding: 0px 0px 0px 20px;
    line-height: 100%;
}

.home__divSection__videoCarroussel {
    display: flex;
    padding: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    width: 100%;
}

.home__divSection__videoCarroussel .projectCard {
    scroll-snap-align: center;
    flex: 0 0 80vw;
}

.home__divSection__videoCarroussel::-webkit-scrollbar {
    display: none;
}

.section--lessonWindow {
    display: none;
    background: #fff;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: flex-start;
}

.lessonWindow__title {
    font-family: 'Teko', sans-serif;
    font-size: 34px;
    line-height: 100%;
    margin: 10px 0px;
    color: var(--black);
    text-align: center;
    width: 100%;
    padding: 0px 20px;
    font-weight: 400;
}

.lessonWindow__video {
    width: calc(100% - 40px);
    height: auto;
    border-radius: 12px;
}

.lessonWindow__divSelectView {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    background: var(--light-gray);
    margin: 10px 0px 20px 0px;
    border-radius: 12px;
    height: 53px;
}

.lessonWindow__divSelectView__btn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    color: var(--black);
    border-radius: 8px;
    padding: 10px 0px;
    border: 0px;
    outline-width: 0px;
    font-size: 22px;
    transition: 0.2s;
    height: 100%;
}

.lessonWindow__divSelectView__btn.active {
    background: var(--secundary-color);
    color: var(--white);
}

.lessonWindow__extraFileDiv {
    display: none;
}

.lessonWindow__extraFileDownload {
    background: var(--primary-color);
    border-radius: 12px;
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    padding: 4px 35px;
    color: var(--black);
    margin: 10px 0px 0px 0px;
}

.lessonWindow__notExtraFile {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 0px 20px;
    color: var(--black);
    opacity: 0.5;
    margin: 10px 0px 0px 0px;
}

.lessonWindow__comentsDiv {
    height: 100%;
    width: 100%;
    padding: 0px 0px 10px 0px;
    overflow: hidden;
}

/* .lessonWindow.comentControls {} */

.section--lessonIntroduction {
    display: none;
    background: #fff;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    z-index: 100;
    transition: 0.5s;
}

.lessonIntroduction__button {
    background: linear-gradient(0deg, var(--primary-color), var(--white) 0%);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    padding: 0px;
    font-size: 30px;
    border: 0px;
    outline-width: 0px;
    height: 54px;
    width: 54px;
    border-radius: 100%;
    transition: 3s;
}

.lessonIntroduction__button ion-icon {
    background: var(--white);
    position: absolute;
    border-radius: 100%;
    padding: 10px;
}

.lessonIntroduction__span {
    color: var(--primary-color);
    font-family: 'Teko', sans-serif;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.lessonIntroduction__h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 20px;
    color: var(--black);
    font-size: 22px;
    width: 100%;
}