.section--stock {
    display: none;
    background: transparent;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: flex-start;
}
.stockSection__divStockCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px;
    gap: 10px;
    margin: 20px 0px;
}