.section--createAccount {
    display: none;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    background: transparent;
}
.createAccount.loginSection__div {
    border-radius: 10px;
}

.createAccount.loginSection__btn:disabled {
    background: var(--black);
    opacity: 0.8;
}